.hidden {
    display: none;
}

.welcom_sec {
    margin: 50px auto;
    text-align: center;
}

.welcom_sec h2 {
    font-size: 30px;
    padding-bottom: 10px;
    color: #013a63;
}

p {
    font-size: 20px;
    color: #676767;
}

.row {
    margin: 100px auto;
}

.container {
    width: 35%;
    margin: auto;
    align-items: center;
    overflow: visible;
}


/* cherry style */
#Cherry {
    transform: scale(0.4);
}

#Cherry:hover {
    transform: scale(0.3);
    filter: drop-shadow(10px 10px 5px rgba(79, 79, 79, 0.485));
    transition: all 0.8s ease;
}

/* lemon style */
#Lemon {
    transition: all 0.7s ease;
}

#Lemon:hover {
    transform: scaleX(0.6);
}

#Lemon:hover #outer_skin {
    fill: coral;
    transition: fill 0.5s ease
}

#Lemon:hover #pulp {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.5s ease;
}

/* peach style */
#Peach {
    transition: all 0.5s ease;
}

#Peach:hover {
    animation: bounce 0.6s ease infinite;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-30px);}
    100% {transform: translateY(0);
}
}



